{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container text-center">

    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">fundrivo llegó para quedarse</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Somos una aplicación web que te permitirá llevar tus finanzas personales de manera sencilla. Ninguna app ha
                ofrecido tantos beneficios GRATIS!! Registrate y conoce cómo podemos ayudarte
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            </div>
        </div>
    </div>

</div>
{% endblock content %}